*{
    margin: 0;
    padding: 0px;
}

.main-header{
    display: flex;
    height: 90vh;
}
.main-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right{
    flex: 1; 
}

.main-left-wrapper {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-intro{
    font-size: 30px;
    font-weight: 300;
}

.main-name{
    font-style: 60px;
    font-weight: bolder;
}

.main-title{
    height: 50px;
    overflow: hidden;
}

.main-title-wrappper{
   height: 100%;
   animation: move 10s ease-in-out infinite alternate;
}

@keyframes move{
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{ transform: translateY(-200px);
    }
}

.main-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(86, 196, 110);
    display: flex;
    align-items: center;
}

.main-bg{
    clip-path: polygon(100% 0, 100% 100%, 25% 100%, 0 49%, 25% 0);
    background: rgb(47, 167, 73);
    width: 100%;
    height: 100%;
}

.about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-main{
    height: 80%;
    width: 80%;
    display: flex;
}

.about-img{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.about-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0.5rem;
}

.about-img img{
    height: 65%;
    width: 55%;
    border-radius: 1rem;
}

.about-card h2{
    font-style: 60px;
    font-weight: bolder;
}


.skill-main{
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.xyg{
    text-decoration: underline;
    color: rgb(86, 196, 110);
    font-style: 60px;
    font-weight: bolder;
}


.skill-head{
    height: 80%;
    width: 80%;
    display: flex;
}


.skill-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
}

.skill-left h3{
    font-style: 60px;
    font-weight: bolder;
}


.skill-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-right-img{
    height: 70%;
    width: 80%;
}

.skill-right-img img{
    height: 100%;
    width: 100%;
}

.skills-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.skillitem{
    margin: 2px;
    gap: 5vh;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    border-radius: 2px;
    box-shadow: 5px 5px 8px 2px #ced8d8;
    font-size: 20px;
}

.pro-main{
    height: 100vh;
    text-align: center;
    display: flex;
    gap: 10vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pro-start{
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin: 10px;
}

.footer-main{
    background-color: rgb(0, 0, 3);
    height: 40vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-mt{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-icons{
    width: 50%;
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 700px) {
    .main-header{
        display: flex;
        flex-direction: column;
        height: 90vh;
    }
    
    .main-right{
        display: none;
    }
    .about{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-img{
        display: flex;
        justify-content: center;
        align-items: center;
     }

    .about-main{
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .about-img img{
        height: 50%;
        width: 55%;
        border-radius: 1rem;
    }

    .skill-head{
        height: 80%;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }


    .pro-main{
        margin: 10vh;
        text-align: center;
        display: flex;
        gap: 10vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .pro-start{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }


    
.skill-main{
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.pro-main{
    height: 190vh;
    text-align: center;
    display: flex;
    gap: 10vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 .footer-main{
    height: 30vh;
 }
   

 .skill-right{
   
    display: none;
}

   .footer-mt h2{
    font-size: 15px;
   }
  }
